.registration-card {
    margin-top: 30vh;
}

.registration-card h1 {
    margin-bottom: 1em;
}

.registration-input {
    margin-right: 0.5em;
}

.registration-steps {
    margin-bottom: 3em;
}

.registration-column {
    margin-bottom: 2em;
}

.registration-content {
    margin-top: 5em;
}

.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
